#uploadform-imagefile {
      display: none;
}

.field-uploadform-imagefile .control-label {
      font-weight: 400;
}

.field-uploadform-imagefile .control-label:hover {
      cursor: pointer;
}

.fa-6 {
      font-size: 15em !important;
}